
<div class="container"> 

	<div class="well well-lg center" >

		<div class="row">
		  <div class="col-md-6">
		  	<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'form-horizontal'}) do |f| %>
			  <%= devise_error_messages! %>

			  <div class="form-group">
			    <%= f.label :name, :class => "col-lg-2 control-label"%>
			    <div class="col-lg-10">
			      <%= f.text_field :name, :autofocus => true, :class => "form-control", :placeholder => t("app.placeholder.user.name")%>
			    </div>
			  </div>

			  <div class="form-group">
			    <%= f.label :birth, :class => "col-lg-2 control-label"%>
			    <div class="col-lg-10">
			      	<%= f.text_field :birth, :class => "form-control", 'data-behaviour' => "datepicker", 'data-date-format' => 'dd/mm/yyyy', 'placeholder' => t("app.placeholder.user.birth") %>
			    </div>
			  </div>

			   <div class="form-group">
			    <%= f.label :gender, :class => "col-lg-2 control-label"%>	
			    <div class="col-lg-10">
			      <%= f.select :gender, [['Masculino', 1], ['Feminino', 0]] , {}, {:class => "form-control"}%>
			    </div>
			  </div>

			  <div class="form-group">
			    <%= f.label :email, :class => "col-lg-2 control-label"%>
			    <div class="col-lg-10">
			      <%= f.email_field :email, :class => "form-control", :placeholder => t("app.placeholder.user.email")%>
			    </div>
			  </div>

			  <div class="form-group">
			    <%= f.label :password, :class => "col-lg-2 control-label"%>
			    <div class="col-lg-10">
			      <%= f.password_field :password, :class => "form-control", :placeholder => t("app.placeholder.user.password")%>
			    </div>
			  </div>

			  <div class="form-group">
			    <%= f.label :password_confirmation, :class => "col-lg-2 control-label"%>
			    <div class="col-lg-10">
			      <%= f.password_field :password_confirmation, :class => "form-control", :placeholder => t("app.placeholder.user.password_confirmation")%>
			    </div>
			  </div>

			  <div class="form-group">
			    <div class="col-lg-offset-2 col-lg-10">
			      <button type="submit" class="btn btn-success">Cadastrar</button>
			    </div>
			  </div>
			<% end %>


		  </div>
		  <div class="col-md-1" style="vertical-align: center;"><p class="lead">OU</p></div>
		  <div class="col-md-4">
		  	<button class="btn btn-facebook"><i class="icon-facebook"></i> | Cadastre-se usando Facebook</button>
		  </div>
		</div>

	<% render "devise/shared/links" %>
	</div>
	<%= render "layouts/footer" %>
	
</div>

<script type="text/javascript">
 $(document).ready(function(){
    $('[data-behaviour~=datepicker]').datepicker({
    	language: "pt-BR"
    });
  })
</script>