<%= form_for(@user, :html => {:class => 'form-horizontal'}) do |f| %>
  <% if @user.errors.any? %>
    
    <div class="alert alert-danger">
      <h2>Problemas na solicitação!</h2>
       <% @user.errors.full_messages.each do |msg| %>
        <ul><%= msg %></ul>
      <% end %>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label "Nome", :class => "col-lg-2 control-label"%>
    <div class="col-lg-10">
      <%= f.text_field :name, :autofocus => true, :class => "form-control", :placeholder => "Nome"%>
    </div>
  </div>

  <div class="form-group">
    <%= f.label "Nascimento", :class => "col-lg-2 control-label"%>
    <div class="col-lg-10">
        <%= f.text_field :birth, :autofocus => true, :class => "form-control", 
        :value => @user.try(:birth).try(:strftime,'%d/%m/%Y'),
        'data-behaviour' => "datepicker", 'data-date-format' => 'dd/mm/yyyy' %>
    </div>
  </div>

   <div class="form-group">
    <%= f.label "Sexo", :class => "col-lg-2 control-label"%>  
    <div class="col-lg-10">
      <%= f.select :gender, [['Masculino', 1], ['Feminino', 0]] , {}, {:class => "form-control"}%>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :email, :class => "col-lg-2 control-label"%>
    <div class="col-lg-10">
      <%= f.email_field :email, :autofocus => true, :class => "form-control", :placeholder => "Email"%>
    </div>
  </div>

  <div class="form-group">

    <div class="col-lg-offset-2 col-lg-10">
      <div class="row">
        <div class="col-md-6"><%= link_to "<button class='btn btn-danger' type='button'>Voltar</button>".html_safe, users_path %></div>
        <div class="col-md-6" style="text-align: right"><%= f.submit :class=>"btn btn-success", :value=>"Salvar"%></div>
      </div>
    </div

<% end %>

<script type="text/javascript">
 $(document).ready(function(){
    $('[data-behaviour~=datepicker]').datepicker({
      language: "pt-BR"
    });
  })
</script>