<%= form_for(@user, :html => {:class => 'form-horizontal'}) do |f| %>
  <% if @user.errors.any? %>
    
    <div class="alert alert-danger">
      <h2>Problemas na solicitação!</h2>
       <% @user.errors.full_messages.each do |msg| %>
        <ul><%= msg %></ul>
      <% end %>
    </div>
  <% end %>


  <div class="form-group">
    <%= f.label :email, :class => "col-lg-2 control-label"%>
    <div class="col-lg-10">
      <%= f.email_field :email, :autofocus => true, :class => "form-control", :placeholder => "Email"%>
    </div>
  </div>
  
 

  <div class="form-group">

    <div class="col-lg-offset-2 col-lg-10">
      <div class="row">
        <div class="col-md-6"><%= link_to "<button class='btn btn-danger' type='button'>Voltar</button>".html_safe, users_path %></div>
        <div class="col-md-6" style="text-align: right"><%= f.submit :class=>"btn btn-success", :value=>"Salvar"%></div>
      </div>
    </div

<% end %>