<div class="container"> 
	<%= render_breadcrumbs :builder => ::BootstrapBreadcrumbsBuilder, :separator => "&raquo;" %>
	<div class="well well-lg center" >
		<% if flash[:notice] %>
			<div id="notice" class="alert alert-info"><%= notice %></div>
		<% end %>
		<h3><span class="label label-default">Visualização</span> Usuário</h3>
		<br>	
		<p>
		  <strong>Nome:</strong>
		  <%= @user.name %>
		</p>
		<p>
		  <strong>Nascimento:</strong>
		  <%- if @user.birth %>
		  	<%= @user.birth.strftime("%d/%m/%Y") %>
		  <% end %>
		</p>
		<p>
		  <strong>Sexo:</strong>
		  <%= @user.gender == 1 ? "Masculino" : "Feminino" %>
		</p>
		<p>
		  <strong>Email:</strong>
		  <%= @user.email %>
		</p>

		<br>
		<p>
			<%= link_to "<button class='btn btn-danger' type='button'>Voltar</button>".html_safe, users_path %>
	        <%= link_to "<button class='btn btn btn-info' type='button'>Editar</button>".html_safe, edit_user_path(@user) %>
    	</p>
	</div>
</div>