<%= form_for(@survey_form, :html => {:class => 'form-horizontal'}) do |f| %>
  <% if @survey_form.errors.any? %>
    <div class="alert alert-danger">
      <h2>Problemas na solicitação!</h2>
       <% @survey_form.errors.full_messages.each do |msg| %>
        <ul><%= msg %></ul>
      <% end %>
    </div>
  <% end %>

  <dl class="dl-horizontal">
    <dt><%= f.label :user%></dt>
    <dd><%= current_user.email %></dd>
  </dl>

  <div class="form-group">
    <%= f.label :restrict, :class => "col-lg-2 control-label"%>  
    <div class="col-lg-10">
      <%= f.select :restrict, [['Não', false], ['Sim', true]] , {}, {:class => "form-control"}%>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :title, :class => "col-lg-2 control-label"%>
    <div class="col-lg-10">
      <%= f.text_field :title, :autofocus => true, :class => "form-control", :placeholder => t("app.placeholder.survey_form.title")%>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :description, :class => "col-lg-2 control-label"%>
    <div class="col-lg-10">
      <%= f.text_area :description, :class => "form-control", :placeholder => t("app.placeholder.survey_form.description")%>
    </div>
  </div>

  <div id="campos" class="form-group" style="display: none"></div>
 
  <div class="form-group">
    <%= f.label :add_type_list, :class => "col-lg-2 control-label"%>
    <div class="col-lg-10">
     <%= f.select :type_list, options_for_select(SurveyType.types.collect{|p| [ p.label, p.id ] }), {prompt: t("app.select_a_type_of_field")}, 
      {:class =>  "form-control", :onChange => 'addFieldType(this.value)' } %>
    </div>
  </div>
  <script type="text/javascript">
    var conter = 0;
    var conterComboBox = [];
    var conterRadio = [];
  </script>

  <%- if f.object.survey_fields.size > 0 %>
    <%= render "edit_survey_templates", f: f %>
  <% else %>
    <%= render "new_survey_templates" %>
  <% end %>

  <script type="text/javascript">
    
    function addFieldType(value){
      data = {index:conter};
      //TextField
      if(value == "1"){
        var template = $('#textTpl').html();
        var html = Mustache.to_html(template, data);
        $("#campos").append(html);
        $("#campos").show();

        console.log($("#field"+conter).html())
        $("#field"+conter).draggable();

        $("#survey_form_type_list").val("");
        conter ++;
        
      } 
      //ComboBox
      else if(value == "2"){
        var template = $('#comboboxTpl').html();
        var html = Mustache.to_html(template, data);
        $("#campos").append(html);
        $("#campos").show();

        $("#survey_form_type_list").val("");
        conter ++;
      }

      //Radio
      else if(value == "3"){
        var template = $('#radioTpl').html();
        var html = Mustache.to_html(template, data);
        $("#campos").append(html);
        $("#campos").show();

        $("#survey_form_type_list").val("");
        conter ++;
      }
    }
    function removeFieldType(id){
      $("#"+id+ "_remove").val(1);
      $("#"+id).hide();
    }

    function changeEnunciado(obj){
      $("#" + obj.id + "_pv").html(obj.value);
    }
  </script>
  
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <div class="row">
        <div class="col-md-6"><%= link_to "<button class='btn btn-danger' type='button'>Voltar</button>".html_safe, survey_forms_path %></div>
        <div class="col-md-6" style="text-align: right"><%= f.submit :class=>"btn btn-success", :value=>"Salvar"%></div>
      </div>
    </div>
  </div>
<% end %>