<div class="container"> 
	<div class="well well-lg center" >
		<% if flash[:notice] %>
			<div id="notice" class="alert alert-info"><%= notice %></div>
		<% end %>
		<h3><span class="label label-default">Report</span> Pesquisa interativa</h3>
		<br>	
		<p>
		  <strong>Titulo:</strong>
		  <%= @survey_form.title %>
		</p>
		<p>
		  <strong>Respostas:</strong>
		  <%= @survey_form.responses %>
		</p>
		<p>
			<%- @answer_group.map { |key, value| %>
				<div class="panel panel-default" id="<%= key %>">
				  <div class="panel-heading">Identificador: <i><%= key %></i></div>
				  <div class="panel-body">
				<%- @answer_group[key].each { |answer| %>
					<b><%= answer.survey_field.title %></b><br>
					Resposta: <%= answer.label_answer %> <br>
					 <br>
				<% } %>
				
			 		</div>
				</div>
			<% } %>
		</p>

		<br>
		<p>
			<%= link_to "<button class='btn btn-danger' type='button'>Voltar</button>".html_safe, survey_form_path(@survey_form) %>
    	</p>
	</div>
</div>