<div class="container"> 
	<%= render_breadcrumbs :builder => ::BootstrapBreadcrumbsBuilder, :separator => "&raquo;" %>
	<div class="well well-lg center" >
		<% if flash[:notice] %>
			<div id="notice" class="alert alert-info"><%= notice %></div>
		<% end %>
		<h3><span class="label label-default">Visualização</span> Pesquisa interativa</h3>
		<br>	
		<p>
		  <strong>Titulo:</strong>
		  <%= @survey_form.title %>
		</p>
		<p>
		  <strong>Solicitante:</strong>
		  <%= @survey_form.user.email %>
		</p>

		<p>
		  <strong>Respostas:</strong>
		  <%= @survey_form.responses %>
		</p>

		<div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Pré visualisação</h3>
          </div>
          <div class="panel-body">
          	<form class="form-horizontal" action="#">
          	<%- @survey_form.survey_fields.each do | survey_field | %>
          		<%- if survey_field.survey_type_id == 1 %>
	                <div class="form-group">
	                  <%= label survey_field.title, survey_field.title, :class => "col-lg-4  control-label"%>
	                  <div class="col-lg-5">
	                   <%= text_field_tag "", "", :class =>  "form-control" %>
	                  </div>
	                </div>
          		<%- elsif survey_field.survey_type_id == 2 %>
          			<div class="form-group">
	                  <%= label survey_field.title, survey_field.title, :class => "col-lg-4  control-label"%>
	                  <div class="col-lg-5">
	                   <%= select "", "", options_for_select(survey_field.survey_field_options.all.map{|s| [s.label, s.value]}), { :prompt=>"Selecione uma alternativa" }, {:class =>  "form-control" }%>
	                  </div>
	                </div>
          		<% end %>
          	<% end %>
          </form>
          </div>
        </div>

		<br>
		<p>
			<%= link_to "<button class='btn btn-danger' type='button'>Voltar</button>".html_safe, survey_forms_path %>
	        <%= link_to "<button class='btn btn btn-info' type='button'>Editar</button>".html_safe, edit_survey_form_path(@survey_form) %>
    	</p>
	</div>
</div>