<div class="container"> 
	<%= render_breadcrumbs :builder => ::BootstrapBreadcrumbsBuilder, :separator => "&raquo;" %>
	<div class="well well-lg center" >
		<% if flash[:notice] %>
			<div id="notice" class="alert alert-info"><%= notice %></div>
		<% end %>
		<h3><span class="label label-default">Visualização</span> Pesquisa interativa</h3>
		<br>	
		<p>
		  <strong>Titulo:</strong>
		  <%= @survey_form.title %>
		</p>
		<p>
		  <strong>Solicitante:</strong>
		  <%= @survey_form.user.email %>
		</p>

		<p>
		  <strong>Respostas:</strong>
		  <%= @survey_form.responses %>
		</p>
		<p>
		  <strong>Restrita:</strong>
		  <%= @survey_form.restrict == true ? "Sim" : "Não" %>
		</p>

		<div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Pré visualisação</h3>
          </div>
          <div class="panel-body">
          	<%= render "survey_forms/components/survey", survey_form: @survey_form, preview: true %>
          </div>
        </div>

		<br>
		<p>
			<%= link_to "<button class='btn btn-danger' type='button'>Voltar</button>".html_safe, survey_forms_path %>
	        <%= link_to "<button class='btn btn btn-info' type='button'>Editar</button>".html_safe, edit_survey_form_path(@survey_form) %>
    	</p>
	</div>
</div>