<!DOCTYPE html>
<html>
<head>
  <title>Survey</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<STYLE TYPE="text/css">
		body { 
			padding-top: 70px; 
		}
	</STYLE>

	<%= render "/layouts/nav_bar"%>

	<%= yield %>

</body>
</html>
