<script id="comboboxTpl" type="text/template">
  <div id="field{{index}}" class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <div class="col-md-2"><h3 class="panel-title"><%= t("app.survey_field.label_name", :field_name =>t("app.survey_field.combobox.name")) %></h3> <span onclick="removeFieldType('field{{index}}')" style="cursor: pointer"><%=t "app.remove" %></span></div>
        <div class="col-md-10">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title"><%=t "app.preview" %></h3>
            </div>
            <div class="panel-body">
              <div class="form-group">
                <label class="col-lg-2 control-label" id="enunciado_{{index}}_pv" for="survey_form_Enunciado">{{title}}</label>
                <div class="col-lg-10">
                  <select class="form-control" id="cb_{{index}}_pv" >
                    <option value=""><%= t "app.survey_field.combobox.options" %></option>
                     {{#survey_field_options}}
                       <option value="{{value}}">{{label}}</option>
                     {{/survey_field_options}}
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div class="form-group">
        <label class="col-lg-2 control-label"><%=t "app.enunciado" %></label>
        <div class="col-lg-10">
          <input type="text" id="enunciado_{{index}}" name="survey_form[survey_fields_attributes][][title]" class="form-control" placeholder="<%=t "app.enunciado" %>" onFocusOut="changeEnunciado(this)" value="{{title}}"/>
          <input type="hidden" name="survey_form[survey_fields_attributes][][survey_type_id]" value="2" />
          <input type="hidden" name="survey_form[survey_fields_attributes][][order]" value="{{index}}" />
          {{#id}}
            <input type="hidden" name="survey_form[survey_fields_attributes][][id]" value="{{id}}" />
            <input type="hidden" id="field{{index}}_remove" name="survey_form[survey_fields_attributes][][_destroy]" value="0" />
          {{/id}}
        </div>
      </div>
      <div id="values_field_{{index}}_div">
         {{#survey_field_options}}
          <div class="form-group">
            <label class="col-lg-2 control-label" for="survey_form_Enunciado"><%=t "app.value" %> {{index}}</label>
            <div class="col-lg-10">
              <input type="text" id="valor_{{index}}_{{father}}" name="survey_form[survey_fields_attributes][][survey_field_options_attributes][][label]" class="form-control" placeholder="Alternativa {{index}}" onFocusOut="setValueComboBox(this)" value="{{label}}" />
              <input type="hidden" name="survey_form[survey_fields_attributes][][survey_field_options_attributes][][value]" value="{{index}}" />
              {{#id}}
                <input type="hidden" name="survey_form[survey_fields_attributes][][survey_field_options_attributes][][id]" value="{{id}}" />
                <input type="hidden" name="survey_form[survey_fields_attributes][][survey_field_options_attributes][][_destroy]" value="0" />
              {{/id}}
            </div>
          </div>
         {{/survey_field_options}}
      </div>
      <div class="row">
        <div class="col-md-2">&nbsp;</div>
        <div class="col-md-10"> <span onclick="addValueComboBox('values_field_{{index}}',{{index}})"  style="cursor: pointer"><%=t "app.survey_field.combobox.add_value" %> </span></div>
      </div>
    </div>
  </div>
</script>

<script id="combobox_fields_Tpl" type="text/template">
  <div class="form-group">
    <label class="col-lg-2 control-label">Valor {{index}}</label>
    <div class="col-lg-10">
      <input type="text" id="valor_{{index}}_{{father}}" name="survey_form[survey_fields_attributes][][survey_field_options_attributes][][label]" class="form-control" placeholder="<%= t "app.survey_field.combobox.placeholder.option" %> {{index}}" onFocusOut="setValueComboBox(this)" />
      <input type="hidden" name="survey_form[survey_fields_attributes][][survey_field_options_attributes][][value]" value="{{index}}" />
    </div>
  </div>
</script>

<script type="text/javascript">
  function addValueComboBox(field,idFather){
    valor = conterComboBox[field];
    if(valor == undefined){
      conterComboBox[field] = {index:1,father:idFather}
    } else {
      valor.index ++;
      conterComboBox[field] = valor;
    }
    data = conterComboBox[field];
    var template = $('#combobox_fields_Tpl').html();
    var html = Mustache.to_html(template, data);
    $("#" + field +  "_div").append(html);
  }

  function setValueComboBox(obj){
    idItem = obj.id.split("_")[1];
    idFather = obj.id.split("_")[2];  
    if(obj.value == ""){
      $("#cb_"+ idFather + "_pv option[value='"+idItem+"']").remove();
    } else {
      if($("#cb_"+ idFather + "_pv option[value='"+idItem+"']").length == 0){
        $("#cb_"+ idFather + "_pv").append( new Option(obj.value,idItem));
      } else {
        $("#cb_"+ idFather + "_pv option[value='"+idItem+"']").text(obj.value);
      } 
    }
    
  }
</script>